<div class="container">

    <div class="wrap-footer">
        <div class="footer">
            <div class="footer-news">
                <div class="footer-news-blog">
                    <h2>Newsletter Sign Up</h2>
                    <p>(Get 30% OFF coupon today subscibers)</p>
                </div>
    
                <div class="footer-news-blog">
                    <p><strong>Join 226.000+ subscribers</strong> and get a new discount coupon on every Monday.</p>
                </div>
    
                <div class="footer-news-blog">
                    <div class="submit">
                        <input type="text" placeholder="Enter Your Email" class="form-control">
                        <button class="submit-btn">Send</button>
                    </div>
                </div>
            </div>
    
            <div class="footer-list">
    
                <div class="footer-items">
                    <h3>information</h3>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">delivery information</a></li>
                        <li><a href="#">new products</a></li>
                        <li><a href="#">best sales</a></li>
                    </ul>
                </div>
        
                <div class="footer-items">
                    <h3>my account</h3>
                    <ul>
                        <li><a href="#">my account</a></li>
                        <li><a href="#">shopping cart</a></li>
                        <li><a href="#">my orders</a></li>
                        <li><a href="#">history</a></li>
                    </ul>
                </div>
        
                <div class="footer-items">
                    <h3>customer services</h3>
                    <ul>
                        <li><a href="#">free shipping</a></li>
                        <li><a href="#">customer's delivery</a></li>
                        <li>support 24/7</li>
                    </ul>
                </div>
        
                <div class="footer-items">
                    <h3>contact us</h3>
                    <ul>
                        <li>phone number : +856 20 99998888</li>
                        <li>email : support@gmail.com</li>
                    </ul>
        
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
        
            </div>

            <div class="footer-copyright">
                <span>Copyright © 2021 by <strong>MED</strong> all right reserved</span>

                <img src="../../../assets/imgs/payment.png" alt="payments">
            </div>
        </div>
    </div>

</div>