.header-wrapper {
    padding: 0 1rem;
    background: #fff;
    padding-bottom: 1rem;
    .fixed {
        position: fixed;
        width: 100%;
        transition: 0.2s linear;
        top: 0px;
    }
    
    .nofixed {
        position: static;
        transition: 0.2s linear;
        top: -50px;
    }
    .header {
        z-index: 1;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        align-items: center;
        height: 80px;
        background: #fff;
        .logo {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .head-menu {
            ul {
                list-style: none;
                display: flex;
                li:hover a::before {
                    left: 0;
                    right: 0;
                    width: 100%;
                    color: #c40316;
                }
                li {
                    position: relative;
                    display: block;
                    margin: 0 1rem;
                    // background: red;
                    a {
                        color: #222;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                        transition: 0.4s;
                    }
                    a::before {
                        background: #c40316;
                        bottom: 0;
                        content: "";
                        display: inline-block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        right: 50%;
                        top: auto;
                        width: 0;
                        z-index: 9;
                        transition: 0.3s ease;
                    }
                }
            }
        }

        .head-cart {
            display: flex;
            // justify-content: center;
            align-items: center;
            .cart {
                border: 2px solid #ebebeb;
                display: block;
                height: 50px;
                line-height: 46px;
                position: relative;
                text-align: center;
                width: 50px;
                border-radius: 100%;
                color: #222;
                transition: all 0.3s ease 0s;
                margin-right: 1rem;
                &:hover {
                    color: #c40316;
                }
                .fa-user {
                    font-size: 45px;
                    color: #ddd;
                }

                .cart-count {
                    background: #c40316;
                    color: #fff;
                    font-size: 13px;
                    height: 22px;
                    left: -12px;
                    line-height: 22px;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    -webkit-transform: translatey(-50%);
                    -ms-transform: translatey(-50%);
                    transform: translatey(-50%);
                    width: 22px;
                    z-index: 9;
                    border-radius: 100%;
                }
            }
        }
    }

    .search-box {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        background: #fff;
        .box {
            position: relative;
            width: 100%;
            border: 2px solid #ebebeb;
            border-radius: 5px;

            input {
                border: 0;
                background: inherit;
                width: 100%;
                height: 50px;
                color: #222222;
                font-size: 14px;
                font-weight: 400;
                padding: 0 145px 0 20px;
                opacity: 0.7;
                outline: 0;
            }
            button {
                font-size: 12px;
                text-transform: uppercase;
                border: 0;
                position: absolute;
                top: -2px;
                bottom: -2px;
                right: -2px;
                background: #c40316;
                color: #fff;
                font-weight: 500;
                padding: 0 20px;
                min-width: 128px;
                border-radius: 0 5px 5px 0;
                transition: 0.3s;
                &:hover {
                    background: #222;
                }
            }
        }
        .promotion {
            background: #333;
            color: #fff;
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            height: 54px;
            line-height: 54px;
            padding: 0 10px;
            text-align: center;
            white-space: nowrap;
            width: 100%;
            border-radius: 4px;
            transition: 0.4s;
            &:hover {
                background: #c40316;
            }
        }
    }
}
